<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-button slot="end">
      Random
    </ion-button>
  </ion-toolbar>
  <ion-searchbar placeholder="Search a movie" 
    (ionChange)="getMovies($event.target.value)">
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-title>
        Movie list
      </ion-title>
    </ion-list-header>

    <ion-item *ngIf="movies.length==0">
      <ion-label>No Result</ion-label>
    </ion-item>

    <ion-item *ngFor='let movie of movies' (click)="showDetails(movie)" route-direction="forward">
      {{movie.title}}
    </ion-item>
  </ion-list>
</ion-content>
